body, #root {
    margin: 0;
    background: linear-gradient(-45deg, #1b6583, #5594b1, #abe1eb, #a4d5f7);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
    font-family: 'Arimo', sans-serif;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
